Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,md,html}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "git add"
  ]
}

Refactor TypeScript workflow to use non-destructive linting and formatting
  .github/workflows/intelligent-code-fixer.yml
Due: none

Refactor TypeScript workflow to use non-destructive linting and formatting (#1166)
  .github/workflows/intelligent-code-fixer.yml
Due: none

🤖 AUTO: Autonomous automation update - Fri Aug 29 07:05:19 UTC 2025
  automation-report.md
Due: prettier --write

Enhance virtue descriptions with more detailed explanations
  src/pages/Lore.tsx
Due: eslint --fix, prettier --write

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  automation-report.md
  package-lock.json
  package.json
  src/pages/index.ts
  src/services/api.ts
  src/types/index.ts
  src/utils/timing.ts
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Fri Aug 29 07:22:46 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Fri Aug 29 07:33:58 UTC 2025
  automation-report.md
Due: prettier --write

Combine lore elements and assign philosophies (#1167)
  automation-report.md
  package-lock.json
  package.json
  src/pages/Lore.tsx
  src/pages/index.ts
  src/services/api.ts
  src/types/index.ts
  src/utils/timing.ts
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Fri Aug 29 07:42:12 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  package-lock.json
  package.json
  src/pages/index.ts
  src/services/api.ts
  src/types/index.ts
  src/utils/timing.ts
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Fri Aug 29 07:50:32 UTC 2025
  automation-report.md
Due: prettier --write

Refactor lore text to be more concise and clear
  package-lock.json
  src/pages/Lore.tsx
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Fri Aug 29 07:58:29 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Fri Aug 29 08:27:32 UTC 2025
  automation-report.md
Due: prettier --write
