Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,md,html}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "git add"
  ]
}

AUTO-DEPLOY: Production build ready - 2025-07-07T02:41:10.634Z
  src/main.tsx
Due: eslint --fix, prettier --write

AUTO-HEAL: Quick healing applied - 2025-07-07T02:41:49.221Z
  vercel-build.sh
Due: none

AUTO-HEAL: Quick healing applied - 2025-07-07T02:42:29.334Z
  package.json
  vercel-build.sh
Due: prettier --write

AUTO-HEAL: Quick healing applied - 2025-07-07T02:43:06.454Z
  vercel.json
Due: prettier --write

AUTO-HEAL: Quick healing applied - 2025-07-07T02:43:46.752Z
  auto-start-server.js
Due: eslint --fix, prettier --write

📚 DOCS: Update README with comprehensive Vercel infinite build solution
  README.md
Due: prettier --write

📋 DOCS: Add comprehensive Vercel build fix documentation
  VERCEL_BUILD_FIX.md
Due: prettier --write

Complete UI redesign matching old deployment
  README.md
  auto-bootstrap.js
  index.html
  package-lock.json
  package.json
  public/index.html
  src/core/AllInOne.tsx
  src/main-simple.tsx
  src/main.tsx
  src/utils/speedTracking.ts
  vercel-build.sh
  vite.config.ts
Due: eslint --fix, prettier --write

CRITICAL FIX: Resolve Vercel 45-minute build timeout
  README.md
  src/core/AllInOne-build-safe.tsx
  src/main-build.tsx
  vercel-build.sh
  vercel.json
Due: eslint --fix, prettier --write

📚 Update README with comprehensive build timeout solution documentation
  README.md
Due: prettier --write

FINAL FIX: Completely resolve Vercel build timeout issue
  README.md
  auto-bootstrap.js
  automation/all-in-one.ts
Due: eslint --fix, prettier --write

AUTO-FIX: TypeScript issues resolved - 2025-07-07T04:51:57.644Z
  src/__tests__/speedTracking.test.ts
  src/components/SpeedMonitor.tsx
  src/core/AllInOne-build-safe.tsx
  src/core/AllInOne.tsx
  src/main-build.tsx
  src/main-simple.tsx
  src/main.tsx
  src/utils/buildDetection.ts
  src/utils/speedTracking.ts
Due: eslint --fix, prettier --write

🔧 FIX: Replace reserved DEPLOYMENT_ID with KONIVRER_BUILD_ID
  README.md
  VERCEL_BUILD_FIX.md
  src/main.tsx
  src/utils/buildDetection.ts
  vercel-build.sh
  vercel.json
Due: eslint --fix, prettier --write

AUTO-FIX: TypeScript issues resolved - 2025-07-07T04:57:42.641Z
  src/main.tsx
Due: eslint --fix, prettier --write

AUTO-DEPLOY: Production build ready - 2025-07-07T04:57:54.096Z
  src/utils/buildDetection.ts
Due: eslint --fix, prettier --write

Remove loading screen for faster initial rendering
  index.html
Due: prettier --write

Add Vercel-safe development automation system
  DEVELOPMENT.md
  dev-automation.js
  package.json
Due: eslint --fix, prettier --write

Enhance Vercel-safe development automation system with additional features
  DEVELOPMENT.md
  dev-automation.js
  package.json
Due: eslint --fix, prettier --write

Add autonomous mode and auto-start features to Vercel-safe automation
  DEVELOPMENT.md
  dev-automation.js
  package.json
Due: eslint --fix, prettier --write

Add deployment preparation and self-healing features to Vercel-safe automation
  DEVELOPMENT.md
  dev-automation.js
  package.json
Due: eslint --fix, prettier --write

Implement fully autonomous system with no UI or user input required
  DEVELOPMENT.md
  auto-start.js
  dev-automation.js
  package.json
Due: eslint --fix, prettier --write

Implement fully autonomous system that starts automatically with the application - no manual steps required
  DEVELOPMENT.md
  auto-start.js
  dev-automation.js
  package.json
  src/auto-system.js
  src/main-simple.tsx
Due: eslint --fix, prettier --write

Implement zero-command auto-init system that starts automatically when repository is cloned
  .gitattributes
  DEVELOPMENT.md
  README.md
  auto-init.sh
  clone-init.sh
  package.json
  setup-hooks.js
Due: eslint --fix, prettier --write

Implement zero-interaction system with automatic loading screen removal
  index.html
  src/auto-system.js
Due: eslint --fix, prettier --write

Implement cutting-edge self-updating system that keeps the repository on the cutting edge of industry standards
  src/cutting-edge-updater.js
  src/main-simple.tsx
Due: eslint --fix, prettier --write

Add cutting-edge security system with AI-powered threat detection and quantum-resistant encryption
  src/main-simple.tsx
  src/security/CuttingEdgeSecurity.js
Due: eslint --fix, prettier --write

Transform website to ancient scroll theme with tattered parchment styling and replace emojis with ancient symbols
  index.html
  src/auto-system.js
  src/cutting-edge-updater.js
  src/main-simple.tsx
  src/security/CuttingEdgeSecurity.js
  src/styles/ancient-theme.css
  src/utils/emojiReplacer.js
Due: eslint --fix, prettier --write

Revert name changes while keeping ancient scroll theme CSS and symbol replacements
  src/auto-system.js
  src/cutting-edge-updater.js
  src/main-simple.tsx
  src/security/CuttingEdgeSecurity.js
Due: eslint --fix, prettier --write

Update ancient theme to use OpenDyslexic font and replace symbols with descriptive text
  src/main-simple.tsx
  src/styles/ancient-theme.css
  src/utils/emojiReplacer.js
Due: eslint --fix, prettier --write

Replace all symbols with descriptive text in log messages
  src/auto-system.js
  src/cutting-edge-updater.js
  src/security/CuttingEdgeSecurity.js
Due: eslint --fix, prettier --write

Update index.html to use OpenDyslexic font and simplify decorative elements
  index.html
Due: prettier --write

Update setup-hooks.js to use ES modules and replace emojis with descriptive text
  setup-hooks.js
Due: eslint --fix, prettier --write

Update navigation menu with cards, decks, play, events, and login links
  src/core/AllInOne.tsx
Due: eslint --fix, prettier --write

Replace login page with login modal
  src/core/AllInOne.tsx
Due: eslint --fix, prettier --write

Remove loading screen and update font to OpenDyslexic
  public/index.html
Due: prettier --write

Remove loading screen and replace descriptive text prefixes with emojis
  .auto-init-ran
  START-KONIVRER.bat
  auto-extract.js
  index.html
  src/core/AllInOne-simple.tsx
  src/core/AllInOne.tsx
  src/main-old.tsx
  src/main.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Remove emojis and descriptive text from menu items
  src/core/AllInOne-simple.tsx
Due: eslint --fix, prettier --write

Link menu items to existing page components
  src/core/AllInOne-simple.tsx
  src/core/AllInOne.tsx
Due: eslint --fix, prettier --write

Update routes and navigation links to match AllInOne.tsx
  src/core/AllInOne-simple.tsx
Due: eslint --fix, prettier --write

Merged tournaments and events pages into Play page
  src/core/AllInOne-simple.tsx
Due: eslint --fix, prettier --write
