Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,md,html}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "git add"
  ]
}

cleanup: remove temporary and backup files
  emergency.html
  src/main-backup.jsx
  src/main-complex.jsx
  src/main-minimal.jsx
  vercel-complex.json
Due: eslint --fix, prettier --write

feat: restore complete vercel.json configuration without skewProtection
  index.html
Due: prettier --write

feat: restore original application state before loading screen issues
  public/index.html
  src/main.jsx
  vercel-current.json
Due: eslint --fix, prettier --write

cleanup: remove backup vercel configuration file
  vercel-current.json
Due: prettier --write

fix: update cron job to comply with Vercel hobby account limits
  vercel.json
Due: prettier --write

fix: remove invalid environment variable references
  vercel.json
Due: prettier --write

fix: update function runtime to valid Vercel format
  vercel.json
Due: prettier --write

fix: resolve file path conflicts by removing Python API files
  api/cards.py
  api/health.py
  api/hello.py
  api/security/health-check.py
  api/version.py
Due: none

fix: comprehensive Vercel configuration cleanup and optimization
  index.html
  src/main.jsx
  vercel.json
Due: eslint --fix, prettier --write

build: update index.html with cache-busting and version info
  .vercelignore
  index.html
Due: prettier --write
