Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🔄(deps-dev): Bump agent-base from 4.3.0 to 7.1.3
  package-lock.json
Due: prettier --write

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  package-lock.json
  package.json
  src/services/api.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

Add CodeQL security analysis job to consolidated security workflow
  .github/workflows/consolidated-security.yml
Due: none

Consolidate and simplify repository actions (#1291)
  .github/workflows/consolidated-security.yml
  package-lock.json
  package.json
  src/services/api.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

Fix generic type syntax in debounce and throttle functions
  src/utils/timing.ts
Due: eslint --fix, prettier --write

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  package-lock.json
  package.json
  src/services/api.ts
  src/types/index.ts
  src/utils/timing.ts
Due: eslint --fix, prettier --write

📦 Automated dependency updates
  depcheck-report.json
  outdated.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html})
