Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,md,html}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "git add"
  ]
}

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  package-lock.json
  package.json
  src/services/api.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

📦 Automated dependency updates (#1294)
  depcheck-report.json
  outdated.json
Due: prettier --write

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  depcheck-report.json
  package-lock.json
  package.json
  src/services/api.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  package-lock.json
  package.json
  src/services/api.ts
  src/types/index.ts
  src/utils/timing.ts
Due: eslint --fix, prettier --write

Consolidate docker-compose files and add profiles for dev and continuous services
  README_ENTERPRISE.md
  backend/docker-compose.yml
  docker-compose.continuous.yml
  docker-compose.dev.yml
  docker-compose.keycloak.yml
  docker-compose.yml
  scripts/ts/start-continuous-docker.ts
Due: eslint --fix, prettier --write

Consolidate and deduplicate yaml files (#1295)
  README_ENTERPRISE.md
  backend/docker-compose.yml
  docker-compose.continuous.yml
  docker-compose.dev.yml
  docker-compose.keycloak.yml
  docker-compose.yml
  scripts/ts/start-continuous-docker.ts
Due: eslint --fix, prettier --write

Fix timing.ts generic constraint on PR branch
  src/utils/timing.ts
Due: eslint --fix, prettier --write

Update .gitignore with additional log, cache, and temp file exclusions
  .gitignore
  docs/KONIVRER_BASIC_RULES.pdf
Due: none

Remove Godot-specific files and clean up repository structure
  README.md
  docs/KONIVRER_INTEGRATION_SUMMARY.md
  docs/README_GODOT.md
  export_presets.cfg
  project.godot
  scenes/Board.tscn
  scenes/Card.tscn
  scripts/auto_merge.py
  scripts/automation-health-check.ts
  scripts/board.gd
  scripts/card.gd
  scripts/conflict_resolver.sh
  scripts/fix-all-branches.ts
  scripts/game_state.gd
  scripts/merge-and-fix-all.ts
  scripts/populate-db-from-images.ts
  scripts/remote-first-automation.ts
  scripts/report_weekly.py
  scripts/security-scan.ts
  scripts/smart_labeler.py
  scripts/ts/build.ts
  scripts/ts/cleanup-closed-branches.ts
  scripts/ts/conflict_resolver.ts
  scripts/ts/deploy.ts
  scripts/ts/install-continuous-service.ts
  scripts/ts/start-continuous-docker.ts
  scripts/ts/utils.ts
  src/game/scenes/Board.Tscn
  src/game/scenes/card.tscn
Due: eslint --fix, prettier --write
