Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Create board.gd
  scripts/board.gd
Due: none

🤖 AUTO: Autonomous automation update - Fri Aug 8 21:54:26 UTC 2025
  automation-report.md
Due: prettier --write

Create card.gd
  scripts/card.gd
Due: none

style: auto-format code with Prettier
  src/components/EnhancedMTGInscryptionSimulator.tsx
  src/components/HybridSimulatorDemo.tsx
  src/components/TabbedPDFViewer.tsx
  src/components/battlefield/Enhanced2_5DTableView.css
  src/components/battlefield/Enhanced2_5DTableView.tsx
  src/components/battlefield/FirstPersonBattlefield.css
  src/components/battlefield/FirstPersonBattlefield.tsx
  src/components/battlefield/HybridBattlefield.css
  src/components/battlefield/HybridBattlefieldMap.tsx
  src/core/Phase3App.tsx
  src/pages/RulesPage.tsx
Due: eslint --fix, prettier --write

Create game_state.gd
  scripts/game_state.gd
Due: none

🤖 AUTO: Autonomous automation update - Fri Aug 8 21:58:14 UTC 2025
  automation-report.md
Due: prettier --write

Update card.gd
  scripts/card.gd
Due: none

Update board.gd
  scripts/board.gd
Due: none

🤖 AUTO: Autonomous automation update - Fri Aug 8 22:01:20 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Fri Aug 8 22:17:16 UTC 2025
  automation-report.md
Due: prettier --write

Create Board.Tscn
  src/game/scenes/Board.Tscn
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html})
