Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add comprehensive implementation summary - Documents complete card arts integration with 98.4% success rate
  CARD_ARTS_IMPLEMENTATION_COMPLETE.md
Due: prettier --write

Add CardMaker route to enable file upload functionality
  src/App.jsx
Due: eslint --fix, prettier --write

Add debugging logs to CardArtDisplay for production troubleshooting
  debug-image-paths.js
  src/components/cards/CardArtDisplay.jsx
Due: eslint --fix, prettier --write

Fix card art filenames to use underscores instead of spaces
  public/assets/cards/DARK_DVST_face_1.png
  public/assets/cards/DARK_FVLGVRITE_face_1.png
  public/assets/cards/DARK_ICE_face_1.png
  public/assets/cards/DARK_LAHAR_face_1.png
  public/assets/cards/DARK_LAVA_face_1.png
  public/assets/cards/DARK_THVNDERSNOVV_face_1.png
  public/assets/cards/XAOS_DVST_face_1.png
  public/assets/cards/XAOS_FVLGVRITE_face_1.png
  public/assets/cards/XAOS_GNOME_face_1.png
  public/assets/cards/XAOS_ICE_face_1.png
  public/assets/cards/XAOS_LAVA_face_1.png
  public/assets/cards/XAOS_MIST_face_1.png
  public/assets/cards/XAOS_MVD_face_1.png
  public/assets/cards/XAOS_SALAMANDER_face_1.png
  public/assets/cards/XAOS_STEAM_face_1.png
  public/assets/cards/XAOS_THVNDERSNOVV_face_1.png
  public/assets/cards/XAOS_VNDINE_face_1.png
  public/assets/cards/ΦIVE_ELEMENT_ΦLAG_face_6.png
  src/components/cards/CardArtDisplay.jsx
  src/components/cards/EnhancedCardSearch.jsx
Due: eslint --fix, prettier --write

Fix ΦIVE ELEMENT ΦLAG filename to use face_1 convention
  public/assets/cards/ΦIVE_ELEMENT_ΦLAG_face_1.png
  src/components/cards/EnhancedCardSearch.jsx
Due: eslint --fix, prettier --write

Rename all card art files to match exact database names
  public/assets/cards/BRIΓT DVST_face_1.png
  public/assets/cards/BRIΓT FVLGVRITE_face_1.png
  public/assets/cards/BRIΓT LAHAR_face_1.png
  public/assets/cards/BRIΓT LAVA_face_1.png
  public/assets/cards/BRIΓT LIΓTNING_face_1.png
  public/assets/cards/BRIΓT MVD_face_1.png
  public/assets/cards/BRIΓT PERMAΦROST_face_1.png
  public/assets/cards/BRIΓT STEAM_face_1.png
  public/assets/cards/BRIΓT THVNDERSNOVV_face_1.png
  public/assets/cards/DARK DVST_face_1.png
  public/assets/cards/DARK FVLGVRITE_face_1.png
  public/assets/cards/DARK ICE_face_1.png
  public/assets/cards/DARK LAHAR_face_1.png
  public/assets/cards/DARK LAVA_face_1.png
  public/assets/cards/DARK LIΓTNING_face_1.png
  public/assets/cards/DARK THVNDERSNOVV_face_1.png
  public/assets/cards/DARK TIΦOON_face_1.png
  public/assets/cards/LIGHT TIΦOON_face_1.png
  public/assets/cards/XAOS DVST_face_1.png
  public/assets/cards/XAOS FVLGVRITE_face_1.png
  public/assets/cards/XAOS GNOME_face_1.png
  public/assets/cards/XAOS ICE_face_1.png
  public/assets/cards/XAOS LAVA_face_1.png
  public/assets/cards/XAOS LIΓTNING_face_1.png
  public/assets/cards/XAOS MIST_face_1.png
  public/assets/cards/XAOS MVD_face_1.png
  public/assets/cards/XAOS PERMAΦROST_face_1.png
  public/assets/cards/XAOS SALAMANDER_face_1.png
  public/assets/cards/XAOS SILΦ_face_1.png
  public/assets/cards/XAOS STEAM_face_1.png
  public/assets/cards/XAOS THVNDERSNOVV_face_1.png
  public/assets/cards/XAOS VNDINE_face_1.png
Due: none

Remove debugging code after successful production deployment
  debug-image-paths.js
  src/components/cards/CardArtDisplay.jsx
Due: eslint --fix, prettier --write

Convert Greek characters to ASCII in card art filenames for URL compatibility
  public/assets/cards/AZOTH_face_1.png
  public/assets/cards/BRIGT_DVST_face_1.png
  public/assets/cards/BRIGT_FVLGVRITE_face_1.png
  public/assets/cards/BRIGT_LAHAR_face_1.png
  public/assets/cards/BRIGT_LAVA_face_1.png
  public/assets/cards/BRIGT_LIGTNING_face_1.png
  public/assets/cards/BRIGT_MVD_face_1.png
  public/assets/cards/BRIGT_PERMAPhROST_face_1.png
  public/assets/cards/BRIGT_STEAM_face_1.png
  public/assets/cards/BRIGT_THVNDERSNOVV_face_1.png
  public/assets/cards/DARK_DVST_face_1.png
  public/assets/cards/DARK_FVLGVRITE_face_1.png
  public/assets/cards/DARK_ICE_face_1.png
  public/assets/cards/DARK_LAHAR_face_1.png
  public/assets/cards/DARK_LAVA_face_1.png
  public/assets/cards/DARK_LIGTNING_face_1.png
  public/assets/cards/DARK_THVNDERSNOVV_face_1.png
  public/assets/cards/DARK_TIPHOON_face_1.png
  public/assets/cards/LIGHT_TIPHOON_face_1.png
  public/assets/cards/LIGTNING_face_1.png
  public/assets/cards/PERMAPHROST_face_1.png
  public/assets/cards/PhVE_ELEMENT_PhLAG_face_6.png
  public/assets/cards/SADE_face_1.png
  public/assets/cards/SILPH_face_1.png
  public/assets/cards/TIPHOON_face_1.png
  public/assets/cards/XAOS_DVST_face_1.png
  public/assets/cards/XAOS_FVLGVRITE_face_1.png
  public/assets/cards/XAOS_GNOME_face_1.png
  public/assets/cards/XAOS_ICE_face_1.png
  public/assets/cards/XAOS_LAVA_face_1.png
  public/assets/cards/XAOS_LIGTNING_face_1.png
  public/assets/cards/XAOS_MIST_face_1.png
  public/assets/cards/XAOS_MVD_face_1.png
  public/assets/cards/XAOS_PERMAPHROST_face_1.png
  public/assets/cards/XAOS_SALAMANDER_face_1.png
  public/assets/cards/XAOS_SILPH_face_1.png
  public/assets/cards/XAOS_STEAM_face_1.png
  public/assets/cards/XAOS_THVNDERSNOVV_face_1.png
  public/assets/cards/XAOS_VNDINE_face_1.png
  src/utils/cardArtMapping.js
Due: eslint --fix, prettier --write

Fix card image filenames for production deployment
  src/components/cards/CardArtDisplay.jsx
Due: eslint --fix, prettier --write

Fix remaining filename issues with Greek character conversion
  public/assets/cards/BRIGT_PERMAPHROST_face_1.png
  public/assets/cards/PHIVE_ELEMENT_PHLAG_face_1.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html})
