Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: comprehensive performance optimization and analysis
  PERFORMANCE_REPORT.md
Due: prettier --write

docs: add comprehensive performance optimization summary
  PERFORMANCE_SUMMARY.md
Due: prettier --write

docs: project completion summary
  COMPLETION_SUMMARY.md
Due: prettier --write

feat: add Vercel Analytics and Speed Insights
  package-lock.json
  package.json
  src/App.jsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: eliminate all npm warnings and security vulnerabilities
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  node_modules/react-hook-form/README.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: update lock files after installing Vercel Analytics dependencies
  package-lock.json
  yarn.lock
Due: prettier --write

fix: standardize all workflows to use npm instead of yarn
  .github/workflows/ci.yml
  .github/workflows/npm-gulp.yml
  .github/workflows/prettier-fix.yml
  .github/workflows/security.yml
  eslint.config.js
  public/sw.js
  scripts/analyze-bundle.js
  scripts/optimize-performance.js
  scripts/quality-check.sh
  src/App.css
  src/components/CardViewer.jsx
  src/components/DeckStats.jsx
  src/components/ErrorBoundary.jsx
  src/components/Layout.jsx
  src/components/LoadingSpinner.jsx
  src/components/searchbar.jsx
  src/config/api.js
  src/config/env.js
  src/data/cards.json
  src/hooks/useLocalStorage.js
  src/pages/CardDatabase.jsx
  src/pages/DeckBuilder.jsx
  src/pages/MyDecks.jsx
  src/utils/helpers.js
  src/utils/performance.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: add Python cache files to .gitignore
  .gitignore
Due: none

chore: add Python cache files to .gitignore
  api/__pycache__/cards.cpython-312.pyc
  api/__pycache__/health.cpython-312.pyc
  api/__pycache__/hello.cpython-312.pyc
  src/App.jsx
  src/components/DeckStats.jsx
  src/config/api.js
  src/config/env.js
  src/hooks/useLocalStorage.js
  src/main.jsx
  src/pages/CardDatabase.jsx
  src/pages/DeckBuilder.jsx
  src/utils/helpers.js
  src/utils/performance.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html})
