Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

✨ UI Improvements & Blog System Implementation
  src/components/BlogSection.tsx
  src/core/Phase3App.tsx
  src/data/blogPosts.ts
Due: eslint --fix, prettier --write

🔍 Advanced Card Search & Navigation Improvements
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🔍 SCRYFALL-INSPIRED ADVANCED SEARCH REIMPLEMENTED
  src/components/ScryfalLikeAdvancedSearch.tsx
  src/core/Phase3App.tsx
  src/styles/scryfall-advanced-search.css
Due: eslint --fix, prettier --write

🎯 CARD TYPES UPDATED: Familiar & Flag Only
  src/components/ScryfalLikeAdvancedSearch.tsx
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🧙‍♂️ CLASSICAL ELEMENTS & ALCHEMICAL SYMBOLS
  src/components/ScryfalLikeAdvancedSearch.tsx
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🎯 ELEMENT & RARITY SYSTEM REFINED
  src/components/ScryfalLikeAdvancedSearch.tsx
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🔍 SYNTAX-BASED ADVANCED SEARCH DEFAULT
  src/components/SyntaxAdvancedSearch.tsx
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🎯 MENU BAR PERSISTENT & DOTS REMOVED
  src/components/SyntaxAdvancedSearch.tsx
Due: eslint --fix, prettier --write

🎯 REAL CARDS IMPLEMENTED & EMPTY SEARCH DEFAULT
  src/components/SyntaxAdvancedSearch.tsx
  src/core/Phase3App.tsx
  src/data/cards.ts
Due: eslint --fix, prettier --write

🔐 ADVANCED LOGIN SYSTEM & PREMIUM SEARCH FEATURES
  src/components/SyntaxAdvancedSearch.tsx
  src/contexts/AuthContext.tsx
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🎨 REMOVE KONIVRER TEXT & SET OPENDYSLEXIC FONT
  index.html
  src/core/Phase3App.tsx
  src/main.tsx
  src/styles/global.css
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 07:53:46 UTC 2025
  automation-report.md
Due: prettier --write

📦 Automated dependency updates
  depcheck-report.json
  outdated.json
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 07:59:58 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 08:38:16 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 08:51:34 UTC 2025
  automation-report.md
Due: prettier --write

Add login modal and fixed menu bar
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 08:57:58 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 08:58:34 UTC 2025
  automation-report.md
Due: prettier --write

Add scheduled merge and deploy workflow
  .github/workflows/scheduled-merge-deploy.yml
Due: none

Update workflow to be fully automated and silent
  .github/workflows/scheduled-merge-deploy.yml
Due: none

🤖 AUTO: Autonomous automation update - Tue Jul 8 09:11:02 UTC 2025
  automation-report.md
Due: prettier --write

Add comprehensive self-healing system
  .github/workflows/self-healing.yml
  src/main.tsx
  src/utils/databaseHealing.ts
  src/utils/errorHealing.ts
  src/utils/selfHealingIntegration.tsx
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 09:17:57 UTC 2025
  automation-report.md
Due: prettier --write

Make menu bar dynamic based on user agent and screen size
  src/core/Phase3App.tsx
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 09:22:29 UTC 2025
  automation-report.md
Due: prettier --write

Fix JSX syntax in errorHealing file by renaming to .tsx extension
  src/utils/errorHealing.tsx
Due: eslint --fix, prettier --write

Remove old errorHealing.ts file
  src/utils/errorHealing.ts
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 09:31:32 UTC 2025
  automation-report.md
Due: prettier --write

Add state-of-the-art login modal with advanced features
  src/components/AdvancedLoginModal.css
  src/components/AdvancedLoginModal.tsx
  src/core/Phase3App.tsx
  src/main.tsx
  src/styles/global.css
Due: eslint --fix, prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 09:49:10 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 10:11:08 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 10:41:26 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 10:55:18 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 11:21:47 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 11:38:45 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 11:51:01 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 12:29:30 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 13:18:48 UTC 2025
  automation-report.md
Due: prettier --write

🤖 AUTO: Autonomous automation update - Tue Jul 8 13:50:35 UTC 2025
  automation-report.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html})
