Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,md,html}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "git add"
  ]
}

feat: Integrate response stack system for interactive gameplay
  src/components/GameSimulator.jsx
Due: eslint --fix, prettier --write

style: auto-format code with Prettier
  src/components/GameSimulator.jsx
Due: eslint --fix, prettier --write

feat: Add comprehensive automation system with KONIVRER ruleset
  src/components/GameSimulator.jsx
Due: eslint --fix, prettier --write

feat: Add complete Green Dream card set (63 cards)
  add_green_dream_cards.py
  process_cards.py
  src/data/cards.json
Due: prettier --write

style: auto-format code with Prettier
  src/components/GameSimulator.jsx
  src/data/cards.json
Due: eslint --fix, prettier --write

chore: Remove temporary card processing scripts
  add_green_dream_cards.py
  process_cards.py
Due: none

feat: Clean database to only include Green Dream cards
  src/data/cards.json
Due: prettier --write

style: auto-format code with Prettier
  src/data/cards.json
Due: prettier --write

feat: group green dream cards as PRIMA MATERIA set with enhanced UI
  src/components/CardDatabase.jsx
  src/data/cards.json
  vite.config.js
Due: eslint --fix, prettier --write
