Repository MichaelWBrennan/KONIVRER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

style: auto-format code with Prettier
  src/components/EnhancedTournaments.jsx
Due: eslint --fix, prettier --write

fix: add current runtime hosts to Vite allowedHosts
  vite.config.js
Due: eslint --fix, prettier --write

fix: add null checks and default values in DeckDiscovery component
  src/components/DeckDiscovery.jsx
Due: eslint --fix, prettier --write

style: auto-format code with Prettier
  src/components/DeckDiscovery.jsx
Due: eslint --fix, prettier --write

chore(deps): bump express from 4.21.2 to 5.1.0 in /Backend
  Backend/package-lock.json
  Backend/package.json
Due: prettier --write

chore(deps): bump requests in the pip group across 1 directory
  requirements.txt
Due: none

Add Savage Feats-inspired tournament features
  FEATURES_ADDED.md
  demo.html
  src/App.jsx
  src/components/HeroMatchupAnalysis.jsx
  src/components/Layout.jsx
  src/pages/Events.jsx
  src/pages/Matches.jsx
Due: eslint --fix, prettier --write

style: auto-format code with Prettier
  src/components/HeroMatchupAnalysis.jsx
  src/pages/Events.jsx
  src/pages/Matches.jsx
Due: eslint --fix, prettier --write

feat: implement modern design system with OpenDyslexic font and Savage Feats features
  demo.html
  src/App.css
  src/App.jsx
  src/components/Layout.jsx
  src/main.jsx
  src/pages/Decklists.jsx
  src/pages/Home.jsx
  src/styles/components.css
  src/styles/modern-design.css
  src/styles/utilities.css
Due: eslint --fix, prettier --write

feat: implement modern design system with OpenDyslexic font
  MODERN_DESIGN_UPDATES.md
Due: prettier --write

Fix SVG data URL encoding and update Vite config for proper hosting
  node_modules/@types/react/README.md
  node_modules/@types/react/index.d.ts
  node_modules/@types/react/package.json
  node_modules/@types/react/ts5.0/index.d.ts
  node_modules/electron-to-chromium/full-chromium-versions.js
  node_modules/electron-to-chromium/full-chromium-versions.json
  node_modules/electron-to-chromium/full-versions.js
  node_modules/electron-to-chromium/full-versions.json
  node_modules/electron-to-chromium/package.json
  package-lock.json
  src/pages/Home.jsx
  vite.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html})
